.Profile {
    display: flex;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: space-around;
    align-items: center;


    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-image: url('../images/profilebg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.9;

    }

    .mouseimg {
        position: absolute;
        top: 0px;

        right: 50px;
        height: 30%;
        animation: moveit 2.5s ease-in-out infinite;
        transform-origin: 50% 0;

        @keyframes moveit {

            0%,
            100% {
                transform: rotate(15deg);

            }

            50% {
                transform: rotate(-15deg);
            }
        }
    }

    .profile_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 120px;
        margin-bottom: 120px;
        z-index: 2;


        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;

            margin: 0px;
            padding: 0px;


            li {
                cursor: pointer;
                margin: 5px 10px;
                padding: 0px;

                &:hover a {
                    color: gold;
                }

                a {
                    color: black;
                }
            }
        }

        .User_Name {
            font-size: 30px;
            background: linear-gradient(to right, #30CFD0 0%, #f7f6f8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        .User_content {
            font-size: 20px;
            text-align: center;
            margin: 15px 20px;
            color: aliceblue;
            line-height: 30px;
        }

        .Button {

            width: 100%;
            text-align: center;

            .Hire_me {
                padding: 5px 30px;
                border: 1px solid rgb(242, 234, 10);
                background-color: rgb(245, 208, 115);
                border-radius: 10px;
                font-size: 20px;
                color: white;
                margin: 5px 10px;


                &:hover {
                    background-color: gold;
                    cursor: pointer;
                }

            }

            .get_resume {
                padding: 5px 30px;
                border: 1px solid rgb(17, 236, 68);
                background-color: rgb(115, 245, 171);
                border-radius: 10px;
                font-size: 20px;
                color: black;
                margin: 5px 10px;

                &:hover {
                    background-color: rgb(0, 255, 72);
                    cursor: pointer;
                }

            }
        }


    }

    .profile_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 120px;
        width: 100%;
        height: 100%;
        z-index: 2;

        .user_pic {
            height: 50vh;
            width: 50vh;
            box-shadow: 0 40px 15px -15px rgba(0, 0, 0, 0.2), inset 0 -50px 20px -20px rgba(0, 0, 0, 0.2);

            border-radius: 50%;
            margin: 10px 10px;
            cursor: pointer;
            position: relative;

        }

    }

}


@media screen and (max-width:'1115px') {


    .Profile {
        display: flex;
        position: relative;
        width: 100%;


        justify-content: space-around;
        align-items: center;


        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-image: url('../images/profilebg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.9;

        }

        .profile_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 120px;
            margin-bottom: 120px;


            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                margin: 0px;
                padding: 0px;


                li {
                    cursor: pointer;
                    margin: 5px 10px;
                    padding: 0px;

                    &:hover {
                        color: gold;
                    }
                }
            }

            .User_Name {
                font-size: 25px;
            }

            .User_content {
                font-size: 17px;
                text-align: center;
                margin: 15px 20px;
                color: aliceblue;
                line-height: 30px;
            }

            .Button {

                width: 100%;
                text-align: center;

                .Hire_me {
                    padding: 5px 30px;
                    border: 1px solid rgb(242, 234, 10);
                    background-color: rgb(245, 208, 115);
                    border-radius: 10px;
                    font-size: 20px;
                    color: white;
                    margin: 5px 10px;

                    &:hover {
                        background-color: gold;
                        cursor: pointer;
                    }

                }

                .get_resume {
                    padding: 5px 30px;
                    border: 1px solid rgb(9, 233, 39);
                    background-color: rgb(115, 245, 171);
                    border-radius: 10px;
                    font-size: 20px;
                    color: black;
                    margin: 5px 10px;

                    &:hover {
                        background-color: rgb(0, 255, 72);
                        cursor: pointer;
                    }

                }
            }


        }

        .profile_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 120px;
            margin-bottom: 120px;
            width: 100%;
            height: 100%;

            .user_pic {
                height: 60vh;
                width: 60vh;

                border-radius: 50%;
                margin: 10px 10px;
                cursor: pointer;
                position: relative;

            }

        }

    }
}


@media screen and (max-width:'1000px') {


    .Profile {
        display: flex;
        position: relative;
        width: 100%;


        justify-content: space-around;
        align-items: center;


        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-image: url('../images/profilebg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.9;

        }

        .profile_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 120px;
            margin-bottom: 120px;


            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                margin: 0px;
                padding: 0px;


                li {
                    cursor: pointer;
                    margin: 5px 10px;
                    padding: 0px;

                    &:hover {
                        color: gold;
                    }
                }
            }

            .User_Name {
                font-size: 22px;
            }

            .User_content {
                font-size: 14px;
                text-align: center;
                margin: 15px 20px;
                color: aliceblue;
                line-height: 30px;
            }

            .Button {

                width: 100%;
                text-align: center;

                .Hire_me {
                    padding: 5px 30px;
                    border: 1px solid rgb(242, 234, 10);
                    background-color: rgb(245, 208, 115);
                    border-radius: 10px;
                    font-size: 20px;
                    color: white;
                    margin: 5px 10px;

                    &:hover {
                        background-color: gold;
                        cursor: pointer;
                    }

                }

                .get_resume {
                    padding: 5px 30px;
                    border: 1px solid rgb(15, 232, 26);
                    background-color: rgb(115, 245, 171);
                    border-radius: 10px;
                    font-size: 20px;
                    color: black;
                    margin: 5px 10px;

                    &:hover {
                        background-color: rgb(0, 255, 72);
                        cursor: pointer;
                    }

                }
            }


        }

        .profile_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 120px;
            margin-bottom: 120px;
            width: 100%;
            height: 100%;

            .user_pic {
                height: 50vh;
                width: 50vh;

                border-radius: 50%;
                margin: 10px 10px;
                cursor: pointer;
                position: relative;

            }

        }

    }
}






@media screen and (max-width:'900px') {


    .Profile {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column-reverse;

        justify-content: space-around;
        align-items: center;


        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-image: url('../images/profilebg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.9;

        }



        .profile_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;


            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                margin: 0px;
                padding: 0px;


                li {
                    cursor: pointer;
                    margin: 5px 10px;
                    padding: 0px;

                    &:hover {
                        color: gold;
                    }
                }
            }

            .User_Name {
                font-size: 22px;
            }

            .User_content {
                font-size: 20px;
                text-align: center;
                margin: 15px 20px;
                color: aliceblue;
                line-height: 30px;
            }

            .Button {

                width: 100%;
                text-align: center;

                .Hire_me {
                    padding: 5px 30px;
                    border: 1px solid rgb(242, 234, 10);
                    background-color: rgb(245, 208, 115);
                    border-radius: 10px;
                    font-size: 20px;
                    color: white;
                    margin: 5px 10px;

                    &:hover {
                        background-color: gold;
                        cursor: pointer;
                    }

                }

                .get_resume {
                    padding: 5px 30px;
                    border: 1px solid rgb(7, 235, 72);
                    background-color: rgb(115, 245, 171);
                    border-radius: 10px;
                    font-size: 20px;
                    color: black;
                    margin: 5px 10px;

                    &:hover {
                        background-color: rgb(0, 255, 72);
                        cursor: pointer;
                    }

                }
            }


        }

        .profile_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: 100%;

            .user_pic {
                height: 40vh;
                width: 40vh;

                border-radius: 50%;
                margin: 10px 10px;
                cursor: pointer;
                position: relative;

            }

        }

    }
}

@media screen and (max-width:'580px') {


    .Profile {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column-reverse;

        justify-content: space-around;
        align-items: center;


        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-image: url('../images/profilebg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.9;

        }

        .mouseimg {
            position: absolute;
            top: 0px;

            right: 50px;
            height: 20%;
            animation: moveit 2.5s ease-in-out infinite;
            transform-origin: 50% 0;

            @keyframes moveit {

                0%,
                100% {
                    transform: rotate(15deg);

                }

                50% {
                    transform: rotate(-15deg);
                }
            }
        }

        .profile_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;


            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                margin: 0px;
                padding: 0px;


                li {
                    cursor: pointer;
                    margin: 5px 10px;
                    padding: 0px;

                    &:hover {
                        color: gold;
                    }
                }
            }

            .User_Name {
                font-size: 15px;
            }

            .User_content {
                font-size: 14px;
                text-align: center;
                margin: 15px 20px;
                color: aliceblue;
                line-height: 30px;
            }

            .Button {

                width: 100%;
                text-align: center;

                .Hire_me {
                    padding: 5px 30px;
                    border: 1px solid rgb(242, 234, 10);
                    background-color: rgb(245, 208, 115);
                    border-radius: 10px;
                    font-size: 20px;
                    color: white;
                    margin: 5px 10px;

                    &:hover {
                        background-color: gold;
                        cursor: pointer;
                    }

                }

                .get_resume {
                    padding: 5px 30px;
                    border: 1px solid rgb(21, 236, 43);
                    background-color: rgb(115, 245, 171);
                    border-radius: 10px;
                    font-size: 20px;
                    color: black;
                    margin: 5px 10px;

                    &:hover {
                        background-color: rgb(0, 255, 72);
                        cursor: pointer;
                    }

                }
            }


        }

        .profile_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: 100%;

            .user_pic {
                height: 40vh;
                width: 40vh;

                border-radius: 50%;
                margin: 10px 10px;
                cursor: pointer;
                position: relative;

            }

        }

    }
}


@media screen and (max-width:'400px') {


    .Profile {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column-reverse;

        justify-content: space-around;
        align-items: center;


        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-image: url('../images/profilebg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.9;

        }

        .mouseimg {
            position: absolute;
            top: 0px;

            right: 20px;
            height: 15%;
            animation: moveit 2.5s ease-in-out infinite;
            transform-origin: 50% 0;

            @keyframes moveit {

                0%,
                100% {
                    transform: rotate(15deg);

                }

                50% {
                    transform: rotate(-15deg);
                }
            }
        }

        .profile_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;


            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                margin: 0px;
                padding: 0px;


                li {
                    cursor: pointer;
                    margin: 5px 10px;
                    padding: 0px;

                    &:hover {
                        color: gold;
                    }
                }
            }

            .User_Name {
                font-size: 15px;
            }

            .User_content {
                font-size: 14px;
                text-align: center;
                margin: 15px 20px;
                color: aliceblue;
                line-height: 30px;
            }

            .Button {

                width: 100%;
                text-align: center;

                .Hire_me {
                    padding: 5px 30px;
                    border: 1px solid rgb(242, 234, 10);
                    background-color: rgb(245, 208, 115);
                    border-radius: 10px;
                    font-size: 20px;
                    color: white;
                    margin: 5px 10px;

                    &:hover {
                        background-color: gold;
                        cursor: pointer;
                    }

                }

                .get_resume {
                    padding: 5px 30px;
                    border: 1px solid rgb(17, 243, 47);
                    background-color: rgb(115, 245, 171);
                    border-radius: 10px;
                    font-size: 20px;
                    color: black;
                    margin: 5px 10px;

                    &:hover {
                        background-color: rgb(0, 255, 72);
                        cursor: pointer;
                    }

                }
            }


        }

        .profile_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: 100%;

            .user_pic {
                height: 35vh;
                width: 35vh;

                border-radius: 50%;
                margin: 10px 10px;
                cursor: pointer;
                position: relative;

            }

        }

    }
}