/* .cardstyle {
    border-top: 2px solid blue;
    border-bottom: 2px solid red;

} */

.cardstyle:hover {
    transition: all 0.5s;
    box-shadow: 2px 2px 2px 2px rgb(212, 210, 210);
}

.cardbox {
    width: 18rem;


}




.showv {

    opacity: 1;
    animation-name: boxshow;
    animation-duration: 0.5s;

}

@keyframes boxshow {
    from {
        opacity: 0;
        transform: translateY(100px) scale(0) rotateY(180deg);
    }

    to {
        opacity: 1;
    }
}