.educationsection {

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .educationsection {



        flex-direction: column;
    }
}