.skilsection {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 18px #787474;
}

.mainpro {

    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
}

.css1 {
    width: 90%;
    background-color: #ec9532;
    animation-name: example1;
    animation-duration: 2s;
}

.css2 {
    width: 85%;
    background-color: #6fb7f1;
    animation-name: example2;
    animation-duration: 2s;

}

.css3 {
    width: 85%;
    background-color: #7ae1aa;
    animation-name: example3;
    animation-duration: 2s;

}

.css4 {
    width: 80%;
    background-color: #f32144;
    animation-name: example4;
    animation-duration: 2s;

}

.css5 {
    width: 75%;
    background-color: #f80c0c;
    animation-name: example5;
    animation-duration: 2s;

}

.css6 {
    width: 90%;
    background-color: #f6d608;
    animation-name: example6;
    animation-duration: 2s;

}

@keyframes example1 {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

@keyframes example2 {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}

@keyframes example3 {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}

@keyframes example4 {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

@keyframes example5 {
    from {
        width: 0%;
    }

    to {
        width: 75%;
    }
}

@keyframes example6 {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}