.footer {
    background-image: linear-gradient(to right, #aa076b, #61045f);
    // padding: 10px 0px;
    color: aliceblue;
    font-size: 20px;
    line-height: 40px;

    text-align: center;
    white-space: nowrap;

    display: flex;
    justify-content: space-between;

    .Details {
        display: flex;

        p {
            font-size: 12px;
            display: flex;
            align-items: center;
            margin: 0px 10px;
        }
    }

    .Con_details {
        display: flex;

        p {
            font-size: 12px;
            display: flex;
            align-items: center;
            margin: 0px 10px;

        }

    }



}


@media screen and (max-width:'1162px') {

    .footer {

        flex-direction: column;
        justify-content: center;



        .Details {
            justify-content: center;

            p {}
        }

        .Con_details {
            justify-content: center;

            p {}

        }



    }
}

@media screen and (max-width:'410px') {

    .footer {

        flex-direction: column;
        justify-content: center;

        p {
            font-size: 11px;
        }


        .Details {
            justify-content: center;

            p {
                font-size: 10px;
                margin: 0px 2px;
            }
        }

        .Con_details {
            justify-content: center;

            p {
                font-size: 10px;
                margin: 0px 5px;
            }

        }



    }
}